.main-content {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(44, 44, 44);
    height: 100vh;
    border-radius: 0px 0px 28px 28px;


}

.header {
    background-color: transparent;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.1s, color 0.1s;
}

.header-scrolled {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #565656;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 80px;
    padding: 10px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: inherit;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    position: relative;
    left: 50%;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    border-radius: 18px;
    height: 4px;
    background-color: #ff8c00;
}


.is-active {
    color: #ff8c00;
}

.nav-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background-color: #ff8c00;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.login-in-button {
    padding: 10px 20px;
    background-color: #f57c20;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.login-in-button:hover {
    background-color: #ff6600;
}

.content-wrapper {
    width: 45%;
}

.mission-section {
    margin-bottom: 30px;
}

.mission-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.mission-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.services-list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.services-list li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.services-list li::before {
    content: "\2713";
    background-color: #ffd900;
    padding: 2px 4px;
    border-radius: 50px;
    color: #ffffff;
    margin-right: 5px;
}

.explore-button {
    background-color: #ffd900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.video-wrapper {
    width: 45%;
}



.faq-container {
    background-color: rgb(245, 245, 245);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq {
    max-width: 900px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

section.faq {
    padding-top: 2em;
    padding-bottom: 3em;
}

#faq ul {
    text-align: left;
}

.transition,
p,
ul li i:before,
ul li i:after {
    transition: all 0.3s;
}

#faq .no-select,
#faq h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}

#faq h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
}

#faq h2 {
    color: #ff7d03;
    font-family: 'hm_light', sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

#faq p {
    color: #333;
    text-align: left;
    font-family: 'hm_light', sans-serif;
    font-size: 14px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: 0.3s opacity, 0.6s max-height;
    hyphens: auto;
    z-index: 2;
}

#faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

#faq ul li {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

#faq ul li+li {
    margin-top: 15px;
}

#faq ul li:last-of-type {
    padding-bottom: 0;
}

#faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
}

#faq ul li i:before,
ul li i:after {
    content: "";
    position: absolute;
    background-color: #cc071e;
    width: 3px;
    height: 9px;
}

#faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

#faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

#faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
}

#faq ul li input[type=checkbox]:checked~h2 {
    color: #000;
}

#faq ul li input[type=checkbox]:checked~p {
    max-height: 0;
    transition: 0.3s;
    opacity: 0;
}

#faq ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

#faq ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

a,
a:visited,
a:focus,
a:active,
a:link {
    text-decoration: none;
    outline: 0;
}


#vertical-animation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #008404;
    position: relative;
}



#sentence {
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    color: #a9ff77;
    text-align: left;
    max-width: 800px;
}

#sentence b {
    font-family: sans-serif;
    font-style: italic;
    font-size: 58px;
    color: #ffffff;
}

.home-content-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}


.tag-home {
    border: 2px solid #bcffbe;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}


.whatsapp-icon-connect {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff00;
    padding: 10px;
}

.whatsapp-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.whatsapp-icon-connect p {
    font-size: 16px;
    margin: 0;
    color: rgb(255, 255, 255);
}

.body-title {
    text-align: center;
    margin-top: 20px;
    font-family: 'sofia-pro', sans-serif;
    color: rgb(71, 71, 71);


}

.body-title h1 {
    font-size: 42px;
    font-weight: bold;
}

.bodyContainer {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.serviceSection {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.serviceSection::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100px;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

.serviceSection:last-child::before {
    display: none;
}

.serviceItemWebsite,
.serviceItemGraphics,
.serviceItemBranding {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.serviceItemWebsite a,
.serviceItemGraphics a,
.serviceItemBranding a {
    text-decoration: none;
}

.serviceSection h2 {
    color: #f57c20;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-website,
.label-graphics,
.label-branding {
    color: #3b3b3b;
    padding: 8px 16px;
    margin: 5px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
    border-image-slice: 1;
    display: block;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

.label-website:hover,
.label-graphics:hover,
.label-branding:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
}


.people-like-you {
    font-family: 'sofia-pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: rgb(71, 71, 71);
    padding: 60px 0;
}

.people-like-you h2 {
    font-family: sans-serif;
    font-style: normal;
    font-size: 36px;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    color: rgb(121, 121, 121);
    margin: 0 30px 0 0;
}

.people-like-you h3 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 45px;
    margin: 0 0 45px;
    color: rgba(8, 8, 8, 0.6);
}

.people-like-you h3 span {
    font-family: 'kimchi', sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
}

.people-like-you .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow-x: hidden;
}

.people-like-you .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
}

.people-like-you .track.two {
    animation: marquee 50s linear infinite;
}

.people-like-you .track.three {
    animation: marquee 70s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.slider {
    width: 100%;
    height: 600px;
}

.slider input {
    display: none;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;

    perspective: 1000px;
    overflow: hidden;
}

.testimonials .item {
    width: 450px;
    padding: 30px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(250, 250, 250) 0%, rgb(255, 255, 255) 100%);
    position: absolute;
    top: 50;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(179, 179, 179, 0.438);
    user-select: none;
    cursor: pointer;
}

.testimonials .item img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 4%;
}

.testimonials .item p {
    color: #5e5e5e;
    padding: 4px;
}

.testimonials .item h2 {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots label {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffae00;
    margin: 7px;
    transition-duration: 0.2s;
}

#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
    transform: scale(2);
    background-color: #000000;
}

#t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-5"] {
    transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}

#t-1:checked~.testimonials label[for="t-4"],
#t-2:checked~.testimonials label[for="t-5"] {
    transform: translate3d(900px, 0, -270px) rotateY(-35deg);
    z-index: 1;
}

#t-1:checked~.testimonials label[for="t-3"],
#t-2:checked~.testimonials label[for="t-4"],
#t-3:checked~.testimonials label[for="t-5"] {
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;
}

#t-1:checked~.testimonials label[for="t-2"],
#t-2:checked~.testimonials label[for="t-3"],
#t-3:checked~.testimonials label[for="t-4"],
#t-4:checked~.testimonials label[for="t-5"] {
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3;
}

#t-2:checked~.testimonials label[for="t-1"],
#t-3:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-3"],
#t-5:checked~.testimonials label[for="t-4"] {
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#t-3:checked~.testimonials label[for="t-1"],
#t-4:checked~.testimonials label[for="t-2"],
#t-5:checked~.testimonials label[for="t-3"] {
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-5:checked~.testimonials label[for="t-2"],
#t-4:checked~.testimonials label[for="t-1"] {
    transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}

#t-5:checked~.testimonials label[for="t-1"] {
    transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}

#t-1:checked~.testimonials label[for="t-1"],
#t-2:checked~.testimonials label[for="t-2"],
#t-3:checked~.testimonials label[for="t-3"],
#t-4:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-4"],
#t-5:checked~.testimonials label[for="t-5"] {
    z-index: 4;
}

/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}



.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}


.testimonials .item .stars-rating {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.testimonials .item .stars-rating .fa {
    font-size: 16px;
    color: #ffd000;
    margin-right: 4px;
}

.testimonials .item .stars-rating .checked {
    color: #ffbf00;
}


.testimonials .item .location {
    margin-top: 8px;
}

.testimonials .item .location .fa {
    font-size: 18px;
    color: #757575;
    margin-right: 4px;
}

.reviews-button-home {
    text-align: center;
    margin: 20px;
}

.reviews-button-home button {
    padding: 20px 40px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
}

.bottom nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.bottom nav li {
    margin: 0;
}

.bottom nav li a {
    color: #444444;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.bottom nav li a:hover {
    color: #333;
}




.footer {
    position: relative;
    padding-top: 45px;
    background: #f57c20;
}

.footer .newsletter {
    position: relative;
    max-width: 900px;
    border-radius: 12px;
    margin: 0 auto 45px auto;
    padding: 30px 15px;
    background: #e66f14;
    text-align: center;
}

.footer .newsletter h2 {
    color: #dddddd;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

/* Updated CSS for the newsletter input */
/* Updated CSS for the newsletter input */
.footer .newsletter input {
    height: 40px;
    padding: 10px;
    color: #f57c20;
    background: #ffffff;
    border-radius: 0;
    border: 2px solid #f57c20;
    transition: border-color 0.3s ease-in-out;
}

/* Updated CSS for the newsletter input on hover and focus */
.footer .newsletter input:hover,
.footer .newsletter input:focus {
    border-color: #000000;
    outline: none;
}

/* Updated CSS for the newsletter button */
.footer .newsletter .btn {

    height: 40px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #f57c20;
    background: #121518;
    border-radius: 0;
    border: 2px solid #f57c20;
    transition: 0.3s;
}

/* Updated CSS for the newsletter button on hover */
.footer .newsletter .btn:hover {
    color: #ffffff;
    background: #323232;
}

/* Updated CSS for the newsletter button on focus */
.footer .newsletter .btn:focus {
    box-shadow: none;
}


.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
    position: relative;
    margin-bottom: 45px;
    color: #dddddd;
}

.footer .footer-about h3,
.footer .footer-link h3,
.footer .footer-contact h3 {
    position: relative;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #dddddd;
    transition: 0.3s;
    text-transform: capitalize;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #f57c20;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}




.footer .footer-menu .f-menu {
    position: relative;
    padding: 10px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu .f-menu a {
    color: #dddddd;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu .f-menu a:hover {
    color: #ffbc89;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #6b6b6b;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #e3e3e3;
}

@media (max-width: 768px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }


}



/* Additional styles for hiding logos on smaller screens */

@media (max-width: 912px) {
    #vertical-animation-container {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    #sentence {
        margin: 20px 0;
        font-size: 4rem;
        max-width: 75%;
    }

    #sliding-text {
        position: static;
        text-align: center;

    }

    #sliding-text span {
        opacity: 1;
        display: block;
        margin: 10px 0;
        padding: 5px;
    }

    .serviceItem .label {
        font-size: 6rem;
    }

    .bodyContainer {
        flex-direction: column;
        align-items: center;
    }

    .serviceSection {
        flex: 0 0 100%;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-header {
        gap: 8px;
        margin-top: 0px;
    }

    .nav-item {
        font-size: 18px;
        left: 20%;
    }

    .header-title {
        font-size: 28px;
    }

    .home-content-tags {
        justify-content: left;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 820px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 18px;
        /* Increase the font size for larger screens */
        padding: 8px;
        /* Increase the padding for more spacing */
        width: calc(33.33% - 60px);
        /* Set the width for three tags in the first row */
        height: 40px;
        /* Increase the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hide-md {
        display: none;
    }

    .home-content-tags {
        justify-content: left;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 820px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 18px;
        /* Increase the font size for larger screens */
        padding: 8px;
        /* Increase the padding for more spacing */
        width: calc(33.33% - 60px);
        /* Set the width for three tags in the first row */
        height: 40px;
        /* Increase the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }

    .nav-item {
        left: 10%;
    }
}



@media screen and (max-width: 820px) {
    #vertical-animation-container {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    #sentence {
        margin: 20px 0;
        font-size: 4rem;
        max-width: 100%;
    }

    #sliding-text {
        position: static;
        text-align: center;

    }

    #sliding-text span {
        opacity: 1;
        display: block;
        margin: 10px 0;
        padding: 5px;
    }

    .serviceItem .label {
        font-size: 6rem;
    }

    .bodyContainer {
        flex-direction: column;
        align-items: center;
    }

    .serviceSection {
        flex: 0 0 100%;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-header {
        gap: 8px;
        margin-top: 0px;
    }

    .header-title {
        font-size: 18px;
    }

    .home-content-tags {
        justify-content: left;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 820px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 18px;
        /* Increase the font size for larger screens */
        padding: 8px;
        /* Increase the padding for more spacing */
        width: calc(33.33% - 60px);
        /* Set the width for three tags in the first row */
        height: 40px;
        /* Increase the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }


    .nav-item {

        left: 10%;
    }


}

@media screen and (max-width: 430px) {

    .mobile-menu-icon {
        left: 50%;
    }
}

@media screen and (max-width: 540px) {
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 18px;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .nav-header {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        /* Align navigation items to the left side */
        justify-content: center;
        /* Center the navigation items vertically */
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-header.active {
        display: flex;
    }

    .nav-item {
        color: #333333;

        margin: 10px 0;
        font-size: 1.5rem;
        text-align: right;
        margin-right: 20px;
        position: relative;
        left: 0%;
    }

    .mobile-menu-icon {
        display: block;
        padding: 10px;
        left: 100px;
        cursor: pointer;
        position: relative;
    }

    .bar {
        width: 35px;
        height: 6px;
        border-radius: 22px;
        background-color: #f57c20;
        margin: 6px 0;
        transition: 0.4s;
    }

    .mobile-menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #vertical-animation-container {
        flex-direction: column;
        justify-content: center;
        /* Center vertically */
        align-items: center;
        /* Center horizontally */
        height: 100%;

    }

    #sentence {
        font-size: 3rem;
        max-width: 100%;
        text-align: center;
    }

    #sliding-text {
        position: static;
        text-align: center;
    }

    #sliding-text span {
        opacity: 1;
        left: 75px;
        padding: 5px;
    }

    .serviceItem .label {
        font-size: 2rem;
    }

    .home-content-tags {
        justify-content: center;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 390px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 12px;
        padding: 6px;
        width: calc(33.33% - 10px);
        /* Set the width for three tags in the first row */
        height: 30px;
        /* Set the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
        margin-bottom: 10px;
        /* Add margin to create spacing between rows */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }

    .whatsapp-icon-connect {
        bottom: auto;
        left: 50%;
        transform: translate(-50%, 0%);

        /* Move the container to the center of the screen */
    }

    .whatsapp-icon-connect p {
        text-align: center;
        color: #333;
    }

    .slider {
        width: 100%;
        height: 600px;
    }



    .dots label {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #ffae00;
        margin: 7px;
        transition-duration: 0.2s;
    }

    .people-like-you h3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .people-like-you h3 span {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;

    }

    .people-like-you h2 {
        font-size: 20px;
        margin: 0 10px 0 0;
    }

    /* Footer.css */

    .left .mail {

        display: none;
        /* Change to block for vertical layout */
    }


    .bottom nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .bottom nav li {
        margin: 0;
    }

    .bottom nav li a {
        font-size: 14px;
    }

    .header-title-footer {
        font-size: 20px;
    }

    .right input[type="text"] {
        flex: none;
        width: 80%;
        /* Keep the width at 80% */
        margin-left: 0 auto;
        /* Center-align the input */
    }

    .right input[type="submit"] {
        margin-top: 10px;
        /* Add some space between input and button */
    }

    .bottom nav ul {
        flex-direction: row;
        /* Change to column for vertical layout */
        gap: 10;
        /* No gap between items */
        margin: 0 auto;
    }


    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }

}


@media screen and (max-width: 414px) {

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 18px;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .nav-header {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        /* Align navigation items to the left side */
        justify-content: center;
        /* Center the navigation items vertically */
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-header.active {
        display: flex;
    }

    .nav-item {

        margin: 10px 0;
        font-size: 1.5rem;
        text-align: right;
        margin-right: 20px;
        position: relative;
        left: 0%;
    }

    .mobile-menu-icon {
        display: block;
        padding: 10px;
        left: 50px;
        cursor: pointer;
        position: relative;
    }

    .bar {
        width: 35px;
        height: 6px;
        border-radius: 22px;
        margin: 6px 0;
        transition: 0.4s;
    }

    .mobile-menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #vertical-animation-container {
        flex-direction: column;
        justify-content: center;
        /* Center vertically */
        align-items: center;
        /* Center horizontally */
        height: 100%;

    }

    #sentence {
        font-size: 3rem;
        max-width: 100%;
        text-align: center;
    }

    #sliding-text {
        position: static;
        text-align: center;
    }

    #sliding-text span {
        opacity: 1;
        left: 75px;
        padding: 5px;
    }

    .serviceItem .label {
        font-size: 2rem;
    }

    .home-content-tags {
        justify-content: center;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 390px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 12px;
        padding: 6px;
        width: calc(33.33% - 10px);
        /* Set the width for three tags in the first row */
        height: 30px;
        /* Set the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
        margin-bottom: 10px;
        /* Add margin to create spacing between rows */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }

    .whatsapp-icon-connect {
        bottom: auto;
        left: 50%;
        transform: translate(-50%, 0%);

        /* Move the container to the center of the screen */
    }

    .whatsapp-icon-connect p {
        text-align: center;
        color: #333;
    }

    .slider {
        width: 100%;
        height: 600px;
    }



    .dots label {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #ffae00;
        margin: 7px;
        transition-duration: 0.2s;
    }

    .people-like-you h3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .people-like-you h3 span {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;

    }

    .people-like-you h2 {
        font-size: 20px;
        margin: 0 10px 0 0;
    }

    /* Footer.css */

    .left .mail {

        display: none;
        /* Change to block for vertical layout */
    }


    .bottom nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .bottom nav li {
        margin: 0;
    }

    .bottom nav li a {
        font-size: 14px;
    }

    .header-title-footer {
        font-size: 20px;
    }

    .right input[type="text"] {
        flex: none;
        width: 80%;
        /* Keep the width at 80% */
        margin-left: 0 auto;
        /* Center-align the input */
    }

    .right input[type="submit"] {
        margin-top: 10px;
        /* Add some space between input and button */
    }

    .bottom nav ul {
        flex-direction: row;
        /* Change to column for vertical layout */
        gap: 10;
        /* No gap between items */
        margin: 0 auto;
    }


    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }


}

@media screen and (max-width: 414px) {
    .mobile-menu-icon {
        left: 0px
    }
}

@media screen and (max-width: 390px) {
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 18px;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .nav-header {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        /* Align navigation items to the left side */
        justify-content: center;
        /* Center the navigation items vertically */
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-header.active {
        display: flex;
    }

    .nav-item {
        color: #333333;

        margin: 10px 0;
        font-size: 1.5rem;
        text-align: right;
        margin-right: 20px;
        position: relative;
        left: 0%;
    }

    .mobile-menu-icon {
        display: block;
        padding: 10px;
        left: 0px;
        cursor: pointer;
        position: relative;
    }

    .bar {
        width: 35px;
        height: 6px;
        border-radius: 22px;
        margin: 6px 0;
        transition: 0.4s;
    }

    .mobile-menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #vertical-animation-container {
        flex-direction: column;
        justify-content: center;
        /* Center vertically */
        align-items: center;
        /* Center horizontally */
        height: 100%;

    }

    #sentence {
        font-size: 3rem;
        max-width: 100%;
        text-align: center;
    }

    #sliding-text {
        position: static;
        text-align: center;
    }

    #sliding-text span {
        opacity: 1;
        left: 75px;
        padding: 5px;
    }

    .serviceItem .label {
        font-size: 2rem;
    }

    .home-content-tags {
        justify-content: center;
        /* Center tags horizontally */
        flex-wrap: wrap;
        /* Allow tags to wrap to the next line */
        max-width: 390px;
        /* Set the maximum width for the container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag-home {
        font-size: 12px;
        padding: 6px;
        width: calc(33.33% - 10px);
        /* Set the width for three tags in the first row */
        height: 30px;
        /* Set the height */
        margin-right: 10px;
        /* Add margin to create spacing between tags */
        margin-bottom: 10px;
        /* Add margin to create spacing between rows */
    }

    .tag-home:nth-child(3n) {
        margin-right: 0;
        /* Remove margin for the third tag in each row */
    }



    .whatsapp-icon-connect {
        bottom: auto;
        left: 50%;
        transform: translate(-50%, 0%);

        /* Move the container to the center of the screen */
    }

    .whatsapp-icon-connect p {
        text-align: center;
        color: #333;
    }

    .slider {
        width: 100%;
        height: 600px;
    }



    .dots label {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #ffae00;
        margin: 7px;
        transition-duration: 0.2s;
    }

    .people-like-you h3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .people-like-you h3 span {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;

    }

    .people-like-you h2 {
        font-size: 20px;
        margin: 0 10px 0 0;
    }

    /* Footer.css */

    .left .mail {

        display: none;
        /* Change to block for vertical layout */
    }


    .bottom nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .bottom nav li {
        margin: 0;
    }

    .bottom nav li a {
        font-size: 14px;
    }

    .header-title-footer {
        font-size: 20px;
    }

    .right input[type="text"] {
        flex: none;
        width: 80%;
        /* Keep the width at 80% */
        margin-left: 0 auto;
        /* Center-align the input */
    }

    .right input[type="submit"] {
        margin-top: 10px;
        /* Add some space between input and button */
    }

    .bottom nav ul {
        flex-direction: row;
        /* Change to column for vertical layout */
        gap: 10;
        /* No gap between items */
        margin: 0 auto;
    }


    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }





}

.success-message {
    background-color: #4CAF50;
    /* Green background color */
    color: #fff;
    /* White text color */
    padding: 20px;
    /* Padding for spacing */
    text-align: center;
    /* Center the text */
    border-radius: 8px;
    /* Rounded corners */
    margin: 20px;
    /* Margin from the form */
    opacity: 1;
    /* Initial opacity */
    transition: opacity 0.5s;
    /* Add a transition for opacity */
}